__pycache__/
.cache

.vscode/

/Temp/
/.temp-*.json
/temp.py

/Tests/Temp/*
!/Tests/Temp/README.md

/Data/*
!/Data/README.md
!/Data/Video/

/Data/Video/*
!/Data/Video/README.md

/*.log

/Backup/*
!/Backup/README.md

/config.py

/ManuallyGetReleases.py

